:root{
    --fondo: #ffd061;
    --cuentos-lecto: #00c4cc;
    --cuentos-motri: #ff738e;
    --cubos-abc: #a548ff;
    --rompecabezas: #ffa53b;
    --mini-minina: #6422b8;
    --arte: #7ed957;

    --texto--didactic: 'Fredericka the Great', cursive;
    --texto--principal: 'Kranky', cursive;
    --texto--destaque: 'Mountains of Christmas', cursive; 
    --texto--parrafos: 'Sofia Sans Condensed', sans-serif;
    --texto--cursiva:'Cookie', cursive;

    /* 
    font-family: 'Cookie', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Kranky', cursive;
    font-family: 'Love Ya Like A Sister', cursive;
    font-family: 'Mountains of Christmas', cursive; 
    */

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--fondo);
    box-sizing: border-box;

    width: 100%;

    display: flex;
    align-items: center;
}

h1, h2{
    font-family: var(--texto--destaque);
    text-align: center;
    color: white;
    margin: 0 5%;
}

h3 {
    font-family: var(--texto--parrafos);
}

p{
    font-family: var(--texto--parrafos);
    font-size: 22px;
}

a{
    text-decoration: none;
}

.menu{
    position: fixed;
    left: 25px;
    top: calc(100vh/3);
    z-index: 2;
}

.fa-brands,
.fa-solid{
    scale: 2.2;
    margin-bottom: 50px;
    color: white;
}

.texto{
    margin: 20px 0;
    text-align: justify;
    box-sizing: border-box;
}


/* -- footer -- */
.footer {
    background-color: black;
    width: 100%;
    height: 30px;
    color: white;
    letter-spacing: 2px;

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h3{
    border-right: 1px solid white;
    padding-right: 15px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 1.4rem;
}

.footer p{
    font-size: 1.4rem;
}


